* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filetype {
    height: 50px;
    width: 50px;
}

.top {
    width: 100vw;
    height: 80px;
    background: rgb(66, 34, 195);
    background: linear-gradient(90deg, rgba(66, 34, 195, 1) 0%, rgba(128, 45, 253, 1) 100%);
    display: flex;
    align-items: center;
}

.top input[type="submit"] {
    background: none;
    border: none;
    outline: none;
    margin-left: 40px;
    font-size: 32px;
    text-decoration: none;
    font-family: "Bungee", Arial;
    color: aliceblue;
    text-shadow: 2px 2px 2px #000000;
    padding: 10px;
}

.top input[type="submit"]:hover {
    cursor: pointer;
    color: orange;
}

.lower {
    min-height: calc(100vh - 80px);
    background-color: rgb(170, 170, 170);
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.what {
    height: auto;
    width: 200px;
    background: #2271c3;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 20px;
    font-family: "Bungee", Arial;
    text-shadow: 1px 1px 1px #000000;
}

.delete {
    text-align: center;
    margin: 5px;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid darkorange;
    background-color: orange;
    border-radius: 5px;
    color: blue;
    font-family: "Bungee", Arial;
    text-shadow: 1px 1px 1px #ffffff;
}

.delete:hover {
    color: #ffffff;
    text-shadow: 1px 1px 1px blue;
}

td a {
    text-decoration: none;
    border: 1px solid darkorange;
    background-color: orange;
    border-radius: 5px;
    color: blue;
    font-family: "Bungee", Arial;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 1px 1px 1px #ffffff;
}

td a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 1px blue;
}

.hbs {
    height: 100%;
    color: aliceblue;
    text-shadow: 2px 2px 2px #000000;
    font-size: 18px;
    font-family: "Bungee", Arial;
}

.heading {
    height: 50px;
    font-size: 24px;
    font-family: "Bungee", Arial;
    color: aliceblue;
    text-shadow: 2px 2px 2px #000000;
    background-color: #999999;
}

.heading th {
    padding-left: 20px;
    padding-right: 20px;
}

td {
    align-items: center;
    vertical-align: middle;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    background-color: rgb(185, 185, 185);
    color: aliceblue;
}

.id {
    color: orange;
    font-size: 22px;
    font-family: "Bungee", Arial;
    text-shadow: 2px 2px 2px #000000;
    background-color: #a1a1a1;
}

table {
    width: calc(100vw - 200px);
}

.hbs span {
    color: orange;
    font-size: 18px;
    font-family: "Bungee", Arial;
    text-shadow: 2px 2px 2px #000000;
    background-color: #acacac;
    padding-left: 10px;
    padding-right: 10px;
}

.hbs input[type="file"],
.hbs label {
    height: 200px;
    margin: 10px;
    width: calc(100vw - 220px);
    border: 3px dashed rgb(105, 105, 105);
    background-color: #999999;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hbs label img {
    height: 80px;
    width: 80px;
}

.hbs input[type="file"],
.hbs label:hover {
    cursor: pointer;
}

.hbs input[type="file"] {
    display: none;
}

/* .hbs form label {
    display: none;
} */


.hbs form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hbs input[type="submit"] {
    font-size: 20px;
    text-decoration: none;
    border: 1px solid darkorange;
    background-color: orange;
    border-radius: 5px;
    color: blue;
    font-family: "Bungee", Arial;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 1px #ffffff;
}

.hbs input[type="submit"]:hover {
    color: #ffffff;
    text-shadow: 1px 1px 1px blue;
    cursor: pointer;
}