<app-clock></app-clock>

<div *ngIf="!specialNumber">
  <label for="number">Wpisz zarobki z poprzedniego roku:</label>
  <input type="password" id="number" name="number" (input)="onInput($event)" value="">$

  <p *ngIf="number">I tak widzimy, że twoje zarobki to: {{number | currency:'USD':'symbol':'1.0-3'}}</p>
</div>

<div *ngIf="specialNumber && !showBook">
  <p>Idealne zarobki by zrobić dalszą część zadania :)</p>
  
  <div class="image-grid">
    <div *ngFor="let url of imgSrc">
      <img [src]="url" (click)="imgClick($event)">
    </div>
  </div>
</div>

<div *ngIf="showBook">
  <button (click)="goBack()">Go back</button>
  <br>
  <h1>{{klik}}</h1>
  <button *ngFor="let item of lata" (click)="yearClick($event)" value="{{item}}">{{ item }}</button>
  <button (click)="yearClick($event)" value="all">All</button>

  <h3 *ngIf="yearChoosed">{{year}}</h3>
  <table *ngIf="yearChoosed" border="1">
      <tr>
        <th>Strona tytulowa</th>
        <th>Plik</th>
        <th>pismo</th>
        <th>darczyncy</th>
      </tr>
      <tr *ngFor="let item of toShow">
        <td>
          <img [src]="'http://atarionline.pl/biblioteka/czasopisma/' + klik +'/'+ item.miniaturka" alt="">
        </td>
        <td>
          format: <b>{{ item.format }}</b> <br>
          rozmiar: <b>{{ item.rozmiar }}</b> <br>
          stron: <b>{{ item.stron }}</b> <br>
          plik: <b>{{ item.plik }}</b>
        </td>
        <td>
          nazwa: <b>{{ item.nazwa }}</b> <br>
          numer: <b>{{ item.numer }}</b> <br>
          wydawca: <b>{{ item.wydawca }}</b>
        </td>
        <td>
          skan: <b>{{ item.skan }}</b> <br>
          przetworzenie: <b>{{ item.przetworzenie }} </b><br>
          podeslal: <b>{{ item.podeslal }}</b>
        </td>
      </tr>
  </table>
</div>

