<link rel="stylesheet" href="/style/style.css">
<script src="/js/script.js"></script>

<div class="topPanel">
    <form action="/" method="GET">
        <input class="" type="submit" value="FILEMANAGER">
    </form>
</div>
<div class="bottomPanel">
    {{{body}}}
</div>