@import url("https://fonts.googleapis.com/css?family=Henny+Penny");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Henny Penny';
}

body,
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#generuj {
    margin: 10px;
}

.box {
    height: 50px;
    width: 50px;
    background-size: 100%;
}

.box:hover {
    cursor: pointer;
}

#saper div {
    display: flex;
    align-items: center;
    justify-content: center;
}