* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#plansza {
    margin: 10px auto;
    background-color: rgb(195, 160, 100);
}

.pole {
    height: 30px;
    width: 30px;
    background-size: cover;
}

.jasniejsze {
    background-color: rgb(195, 160, 100);
}

.ciemniejsze {
    background-color: rgb(180, 115, 0);
}

.snake_straight {
    background-image: url("./snake_straight.png");
}

.snake_turn {
    background-image: url("./snake_turn.png");
}

.snake_head {
    background-image: url("./snake_head.png");
}

.snake_tail {
    background-image: url("./snake_tail.png");
}

.japko {
    background-image: url("./japko.png");
}

.krzak {
    background-image: url("./krzak.png");
    background-size: 30px;
}

.rotate0 {
    transform: rotate(0deg);
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate270 {
    transform: rotate(270deg);
}

.rotate180 {
    transform: rotate(180deg);
}