<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
    <script src="./script.js" defer></script>
</head>

<body>
    <div class="options">
        <div class="animals">
            <div id="chicken" onclick="choose(this)">Chicken</div>
            <div id="cow" onclick="choose(this)">Cow</div>
            <div id="sheep" onclick="choose(this)">Sheep</div>
        </div>
        <div class="colors">
            <div id="black" onclick="choose(this)">Black</div>
            <div id="brown" onclick="choose(this)">Brown</div>
            <div id="white" onclick="choose(this)">White</div>
        </div>
        <div id="show"></div>
    </div>

    <div class="buttons">
        <div id="add">Add one</div>
        <div id="getall">Get all</div>
        <div id="delete">Delete selected</div>
        <div id="update">Update selected</div>
    </div>
</body>

</html>