* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgba(251, 255, 198, 0.322);
}
header {
    padding-top: 30px;
    color: #ff0000;
    width: 1200px;
    margin: 0 auto;
    height: 120px;
    background-image: url(p-02s.jpg);
    border-bottom: 3px #ff0000 solid;
}
header p {
    text-align: center;
    font-size: 30px;
    text-shadow: #000 2px 2px;
    font-weight: bolder;
}
main {
    background-color: white;
    width: 1200px;
    margin: 0 auto;
}
main nav ul {
    padding-top: 25px;
    padding-left: 25px;
}
main nav ul li {
    list-style: none;
    padding-top: 10px;
}
nav {
    width: 20%;
    border-right: 3px #ff0000 solid;
    height: 500px;
    float: left;
    background-color: white;
}
.padding-l {
    padding-left: 19px;
}
section {
    background-color: white;
    height: 500px;
    width: 60%;
    float: left;
}
section > h1 {
    padding-bottom: 10px;
}
section p {
    padding: 20px;
    padding-left: 20px;
    text-align: justify;
    text-indent: 20px;
}
section h2 {
    color: rgb(255, 230, 0);
    text-shadow: rgb(97, 87, 0) 1px 1px;
    padding-left: 50px;
    text-align: justify;
}
.center {
    text-align: center;
}
.box {
    border: rgb(255, 226, 226) dotted 4px;
    background-color: #db6719;
}
footer {
    padding-top: 45px;
    clear: both;
    width: 1200px;
    margin: 0 auto;
    height: 120px;
    background-color: white;
    border-top: 3px #ff0000 dashed;
}
li a {
    text-decoration: none;
    color: #000;
}
aside {
    float: right;
    width: 20%;   
    border-left: 3px #ff0000 solid;
    background-color: white;
    height: 500px;
    
}
aside p {
    transform:rotate(270deg);
    font-weight: bold;

}