<link rel="stylesheet" href="../style.css">
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
<div class="top">
    <form action="/" method="GET">
        <input class="" type="submit" value="Wyślij pliki">
    </form>
    <form action="/filemanager" method="POST">
        <input class="" type="submit" value="Pokaż pliki">
    </form>
    <form action="/info" method="GET">
        <input class="" type="submit" value="Info">
    </form>
</div>
<div class="lower">
    {{{body}}}
</div>