.tabela {
	margin: auto;
	border-spacing: 30px 10px;
}

.log1,
.log2,
.log3,
.log4 {
	border: black solid 1px;
	text-align: center;
	width: 100px;
	height: 25px;
}

.log1:hover,
.log2:hover,
.log3:hover,
.log4:hover {
	background-color: black;
	color: white;
	cursor: pointer
}

.logo {
	float: left;
}

.tekst1,
.tekst2 {
	text-align: center;
}

.tekst1 {
	padding-top: 40px;
}

.nawigacja {
	clear: both;
	text-align: center;
	border-top: black solid 1px;
	border-bottom: black solid 1px;
}