<div class="what">
    Upload<br>
</div>
<div class="hbs">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="filestoupload"><img src="" alt=""><span>Wybierz pliki</span></label>
        <input type="file" multiple required accept="*" name="filestoupload">
        <input type="submit">
    </form>
</div>