@import url(https://fonts.googleapis.com/css?family=Bungee:regular);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filetype {
    height: 50px;
    width: 50px;
}

.topPanel {
    width: 100vw;
    height: 80px;
    background: rgb(66, 34, 195);
    background: linear-gradient(90deg, rgba(66, 34, 195, 1) 0%, rgba(128, 45, 253, 1) 100%);
    display: flex;
    align-items: center;

    input[type="submit"] {
        background: none;
        border: none;
        outline: none;
        margin-left: 40px;
        font-size: 32px;
        text-decoration: none;
        font-family: "Bungee", Arial;
        color: aliceblue;
        text-shadow: 2px 2px 2px #000000;
        padding: 10px;
    }

    input[type="submit"]:hover {
        cursor: pointer;
        color: orange;
    }
}

.bottomPanel {
    min-height: calc(100vh - 80px);
    background-color: rgb(170, 170, 170);
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.leftPanel {
    height: auto;
    width: 236px;
    background: #2271c3;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 20px;
    font-family: "Bungee", Arial;
    text-shadow: 1px 1px 1px #000000;

    span {
        color: orange;
        font-size: 18px;
        font-family: "Bungee", Arial;
        text-shadow: 2px 2px 2px #000000;
        background-color: #acacac;
        padding-left: 10px;
        padding-right: 10px;
    }

    img {
        height: 80px;
        width: 80px;
    }

    input[type="file"],
    label:hover {
        cursor: pointer;
    }

    input[type="file"] {
        width: 215px;
        height: 250px;
        position: absolute;
        opacity: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        label {
            width: 170px;
        }
    }

    input[type="submit"] {
        font-size: 20px;
        text-decoration: none;
        border: 1px solid darkorange;
        background-color: orange;
        border-radius: 5px;
        color: blue;
        font-family: "Bungee", Arial;
        padding-left: 10px;
        padding-right: 10px;
        text-shadow: 1px 1px 1px #ffffff;
        z-index: 1;
    }

    input[type="submit"]:hover {
        color: #ffffff;
        text-shadow: 1px 1px 1px blue;
        cursor: pointer;
    }
}

.createNewFile,
.buttonNewFolder {
    text-align: center;
    text-decoration: none;
    border: 1px solid darkorange;
    background-color: orange;
    border-radius: 5px;
    color: blue;
    font-family: "Bungee", Arial;
    font-size: 16px;
    text-shadow: 1px 1px 1px #ffffff;
    padding: 0px 5px;
    margin: 5px;
    width: 200px;

    a {
        text-decoration: none;
    }

    a:visited {
        color: blue;
    }
}

.createNewFile:hover,
.buttonNewFolder:hover {
    color: #ffffff;
    text-shadow: 1px 1px 1px blue;
    cursor: pointer;

    a {
        color: #ffffff;
        text-shadow: 1px 1px 1px blue;
        cursor: pointer;
    }
}

.delete {
    text-align: center;
    margin: 5px;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid darkorange;
    background-color: orange;
    border-radius: 5px;
    color: blue;
    font-family: "Bungee", Arial;
    text-shadow: 1px 1px 1px #ffffff;
}

.delete:hover {
    color: #ffffff;
    text-shadow: 1px 1px 1px blue;
}


.uploadFiles {
    margin: 10px;
    border: 3px dashed rgb(105, 105, 105);
    background-color: #999999;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;


    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
}

.rowInfo {
    color: aliceblue;
    font-size: 20px;
    font-family: "Bungee", Arial;
    text-shadow: 1px 1px 1px #000000;
    margin-left: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;

    .element {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80px;
        min-width: 100px;
        max-width: fit-content;
        border: 1px solid darkorange;
        background-color: orange;
        border-radius: 10px;
        margin: 5px;
        position: relative;
        padding: 0px 5px;

        a {
            font-family: 'Noto Sans';
            color: #ffffff;
            text-shadow: 1px 1px 1px black;
            text-decoration: none;
        }

        .imgX {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

            img {
                height: 50px;
                width: 50px;
            }

            a {
                position: absolute;
                right: 5px;
                top: 5px;
                height: 15px;
                width: 15px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

#dialognewfolder,
#dialognewfile {
    user-select: none;
    font-size: 24px;
    color: orange;
    text-shadow: 1px 1px 1px black;
    font-family: 'Bungee';
    position: absolute;
    top: 100px;
    left: calc((100vw - 400px)/2);
    height: fit-content;
    width: 400px;
    border: 3px solid darkorange;
    background-color: #999;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 100px #999;

    input {
        font-family: 'Noto Sans';
        border: 1px solid darkorange;
        border-radius: 5px;
        height: 40px;
        width: 100%;
        font-size: 28px;
        padding: 5px;
    }

    .dialogButtons {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;

        a,
        div {
            text-align: center;
            font-size: 16px;
            text-decoration: none;
            border: 1px solid darkorange;
            background-color: orange;
            border-radius: 5px;
            color: blue;
            font-family: "Bungee", Arial;
            text-shadow: 1px 1px 1px #ffffff;
            width: 80px;

            &:hover {
                color: #ffffff;
                text-shadow: 1px 1px 1px blue;
                cursor: pointer;

                a:visited {
                    color: #ffffff;
                }
            }
        }
    }
}