@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    height: 100%;
    width: 100%;
}

#mainDiv {
    position: absolute;
    left: calc((100vw - 250px)/2);
    top: calc((100vh - 200px)/2);
    height: 200px;
    width: 250px;
    border: 5px solid darkorange;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: orange;
    align-items: center;
    user-select: none;
    font-family: 'Noto Sans';
    font-size: 24px;
    color: whitesmoke;
    text-shadow: 2px 2px 1px black;
    font-weight: bold;
}

#logujButton,
#resetButton {
    border: 5px solid darkorange;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: orange;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#dajDane {
    border-radius: 5px;
    border: 2px solid darkorange;
    height: 30px;
    font-size: 20px;
    width: 200px;
}

.top-panel {
    width: 100vw;
    height: 100px;
    color: white;
    font-family: 'Noto Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    font-size: 30px;
    text-shadow: 1px 1px black;
    font-weight: bold;
    flex-direction: column;
}

#playerInfo {
    font-size: 20px;
    text-shadow: 1px 1px black;
    font-weight: normal;
}