{#<table class="table table-hover">#}
{#    <thead>#}
{#    <tr>#}
{#        <th>Nazwa przedmiotu</th>#}
{#        <th>Oceny</th>#}
{#        <th>Narzędzia</th>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for subject, categories in grades.items() %}#}
{#    <tr>#}
{#        <td>{{subject | title}}</td>#}
{#        <td>#}
{#        {% for category, grades in categories.items() %}#}
{#            {% if category == 'answer' %}#}
{#                {% for grade in grades %}#}
{#                    <span class="badge bg-success">{{ grade }}</span>#}
{#                {%endfor%}#}
{#            {%endif%}#}
{#            {% if category == 'quiz' %}#}
{#                {% for grade in grades %}#}
{#                    <span class="badge bg-danger">{{ grade }}</span>#}
{#                {%endfor%}#}
{#            {%endif%}#}
{#            {% if category == 'test' %}#}
{#                {% for grade in grades %}#}
{#                    <span class="badge bg-warning">{{ grade }}</span>#}
{#                {%endfor%}#}
{#            {%endif%}#}
{#        {%endfor%}#}
{#        </td>#}
{#        <td>#}
{#            <a href="#" class="btn btn-outline-dark btn-sm">#}
{#                <i class="bi bi-pencil-square"></i> Edytuj#}
{#            </a>#}
{#        </td>#}
{#    </tr>#}
{##}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}
{##}
<table class="table-hover table">
    <thead>
        <tr>
            <th>Nazwa przedmiotu</th>
            <th>Oceny - pierwszy semestr</th>
            <th>Średnia</th>
            <th>Ocena śródroczna</th>
            <th>Oceny - drugi semestr</th>
            <th>Średnia</th>
            <th>Ocena śródroczna</th>
            <th>Ocena roczna</th>
        </tr>
    </thead>
    <tbody>
        {% for subject, terms in grades.items() %}
            <tr>
                <td>{{ subject | title }}</td>
                {% for term, categories in terms.items() %}
                    {% if term == 'term1' %}
                        <td>
                            {% for category, grades in categories.items() %}
                                {% if category == 'answer' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-info">{{ grade }}</span>
                                    {% endfor %}
                                {% elif category == 'quiz' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-warning">{{ grade }}</span>
                                    {% endfor %}
                                {% elif category == 'test' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-danger">{{ grade }}</span>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>Średnia</td>
                        <td>
                            {% for category, interim in categories.items() %}
                                {% if category == 'interim' %}
                                    <span class="badge bg-dark">{{ interim }}</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% elif term == 'term2' %}
                        <td>
                            {% for category, grades in categories.items() %}
                                {% if category == 'answer' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-info">{{ grade }}</span>
                                    {% endfor %}
                                {% elif category == 'quiz' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-warning">{{ grade }}</span>
                                    {% endfor %}
                                {% elif category == 'test' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-danger">{{ grade }}</span>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>Średnia</td>
                        <td>
                            {% for category, interim in categories.items() %}
                                {% if category == 'interim' %}
                                    <span class="badge bg-dark">{{ interim }}</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for category, yearly in categories.items() %}
                                {% if category == 'yearly' %}
                                    <span class="badge bg-success">{{ yearly }}</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}

                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
