<link rel="stylesheet" href="./css2.css">
{{!--
<script src="./script.js"></script> --}}

{{!-- <div id="zmien">ZMIEN</div> --}}

<div id="slash">
    {{#each pokaz}}

    <div class="div">
        <span class="nazwa">{{nazwa}}</span>
        <span class="kategoria">{{kategoria}}</span>
        <span class="cena">{{cena}}</span>
    </div>
    {{/each}}
</div>