form {
    border: 1px solid black;
    border-radius: 20px;
    width: 600px;
    text-align: center;
    margin: auto;
}

fieldset {
    border: 1px solid black;
    border-radius: 20px;
    width: auto;
    margin: 2px;
}

select {
    outline: 0;
    border: 1px solid black;
    border-radius: 10px;
    background-color: grey;
    width: auto;
}

input[type=range] {
    width: 400px;
}

hr {
    border-top: 2px dotted black;
}