<table border="1">
    <tr>

        {{#each qwe}}
        <th>
            {{a}}
        </th>
        <td>
            {{b}}
        </td>
        {{/each}}
    </tr>

</table>
<br>
<table border="1" style="border: 1px solid red">
    <tr>

        {{#each asd}}
        <th>
            {{a}}
        </th>
        <td>
            {{b}}
        </td>
        {{/each}}
    </tr>

</table>